#header-top {
    background-color: black;
    max-height: 30px;
}

.bg-white {
    background-color: white;
}

.bg-grey {
    background-color: #1f1f1f;
}

.btn-grey {
    background-color: #363636;
}

.tiny-logo {
    max-width: 100px;
}

.fa-chevron-down {
    font-size: 11px;
}

.fw-navbar {
    font-weight: 500;
}

.fa-search {
    font-size: 20px;
}

.search-alignment {
    align-self: center;
}

.bgc {
    background-color: green;
}

.btn-orange {
    background-color: #cd3d0f;
}

#spacer {
    height: 100px;
}

#hero-1 {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
}

.h-600 {
    height: 600px;
}

.br-15 {
    border-radius: 15px;
}

.fw-500 {
    font-weight: 500;
}

.fs-18 {
    font-size: 18px;
}

.fs-40 {
    font-size: 40px;
}

.blue-bar {
    height: 2px;
    width: 100%;
    background-color: dodgerblue;
}

#hero-2 {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
}